<div>
    <div class="container">
        <div class="row bottom-border">
            <div class="col-3"></div>
            <div class="col-3">Produit</div>
            <div class="col-3">Prix</div>
            <div class="col-2">Quantité</div>
            <div class="col-1">Retirer</div>
        </div>
        <div class="row bottom-border" *ngFor="let a of achats">
            <div class="col-3">
                <img class="img-fluid" [src]="a[0].photos" alt="image produit">
            </div>
            <div class="col-3 text-panier text-panier">
                {{a[0].nom}}
            </div>
            <div class="col-3 text-panier">
                {{a[0].prix}}€
            </div>
            <div class="col-2 text-panier">
                <div class="md-form">
                    <input (change)="modifierProduit(a)" type="number" name="qte" id="form1" [(ngModel)]="a[1]" class="form-control" >
                </div>
            </div>
            <div class="col-1 text-panier">
                <a class="btn btn-primary" (click)="supprimerProduit(a)">Supprimer</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9"><h2>Total= {{total}} €</h2></div>
        </div>
    </div>
</div>
