<div>
    <h1>Ajouter un produit</h1>
    <form (ngSubmit)="submit()" #ProduitForm ="ngForm" >
      <label for="reference">Référence :</label>
      <input [(ngModel)]="monForm.reference"  name="reference">
      <label for="nom">Nom :</label>
      <input [(ngModel)]="monForm.nom" name="nom">
      <label for="prix">Prix</label>
      <input [(ngModel)]="monForm.prix" name="prix">

      <label for="photos">Photos :</label>
      <input [(ngModel)]="monForm.photos"  name="photos">

      <label for="quantite">Quantité :</label>
      <input [(ngModel)]="monForm.quantite"  name="quantite">

      <label for="caracteristiques">Caractéristiques :</label>
      <input [(ngModel)]="monForm.caracteristiques"  name="caracteristiques">

      <label for="marque">Marque :</label>
      <select [(ngModel)]="monForm.marque"  name="marque" class="form-control">
        <option *ngFor="let mrq of marques" [value]="mrq.id"></option>
      </select>

      <label for="discipline">Discipline :</label>
      <input [(ngModel)]="monForm.discipline"  name="discipline">

      <label for="flex">Flex :</label>
      <input [(ngModel)]="monForm.flex" name="flex">

        <button type="submit">Submit</button>
    </form>
  </div>