<div>
  <h1>Modifier un produit</h1>
  <h4>Référence du produit : {{produit.reference}}</h4>
  <form (ngSubmit)="submit()" #prod="ngForm">
      <input type="hidden" [(ngModel)]="produit.reference" name="reference" class="form-control">
   <!--Nom-->
      <label for="nom">Nom :</label>
      <input [(ngModel)]="produit.nom" name="nom" class="form-control">
      <!--Prix-->
      <label for="prix">Prix :</label>
      <input [(ngModel)]="produit.prix" name="prix" class="form-control">
      <!--Photos-->
      <label for="photos">Photos :</label>
      <input [(ngModel)]="produit.photos"  name="photos" class="form-control">
      <!--Quantité-->
      <label for="quantite">Quantité :</label>
      <input [(ngModel)]="produit.quantite" name="quantite" class="form-control">
      
      <!--Caractéristiques-->
      <label for="longueur">Longueur :</label>
      <input [(ngModel)]="produit.longueur" name="longueur" class="form-control" >

      <label for="largeur">Largeur :</label>
      <input [(ngModel)]="produit.largeur" name="largeur" class="form-control">

      <label for="poids">Poids : (en gramme)</label>
      <input [(ngModel)]="produit.poids" name="poids" class="form-control" >


      <label for="largeur-roues">Largeur des roues :</label>
      <input [(ngModel)]="produit.largeurRoues" name="largeurRoues" class="form-control" >

      <label for="empatement">Empattement : </label>
      <input [(ngModel)]="produit.empatement" name="empatement" class="form-control" >

      <!--Marque-->
      <label for="marques">Marque :</label>
      <select class="form-control" [(ngModel)] = "produit.marque" name="marque">
        <option *ngFor="let key of keys" [value]="key" [label]="marques[key]">{{marques[key]}}</option>
      </select>
  

      <!--Discipline-->
      <label for="discipline">Discipline :</label>
      <select class="form-control" [(ngModel)] = "produit.discipline" name="discipline">
        <option *ngFor="let key of keysDiscipline" [value]="key" [label]="disciplines[key]">{{disciplines[key]}}</option>
      </select>


          <label for="description">Description</label>
        <textarea  [(ngModel)] = "produit.description" name="description" type="text" id="description" class="md-textarea md-textarea-auto form-control" name="description"></textarea>

      <!--Est actif ou non-->
      <label for="actif">Actif ? :</label>
      <input type="checkbox" [(ngModel)]="produit.actif" name="actif" ng-true-value="yes" ng-false-value="no">


    <button type="submit">Modifier</button>
  </form>
</div>