<header>
    <div *ngIf="visiteur_courant.aLeRole('ROLE_ADMINISTRATEUR')">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="/accueil"><strong>OnBoard</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink = "tech/produits">Gestion des produits</a>
                        <ul>
                            <li class="nav-item dropdown" dropdown>
                                <a class="nav-link" routeurLink = "tech/produits/new">Créer un produit</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink = "/commandes">Commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink = "/profil">Profil</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div *ngIf="visiteur_courant.aLeRole('ROLE_UTILISATEUR')">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="/accueil"><strong>OnBoard</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profil">Mon profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/commandes">Mes commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/store">Accès au store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/deconnexion">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div *ngIf="visiteur_courant.estAnonyme()">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <a class="navbar-brand" href="/accueil"><strong>OnBoard</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profil">Profil</a>
                        <ul class="navbar-nav mr-auto"><button>Panier</button></ul>
                    </li> 
                </ul>
            </div>
        </nav>
    </div>
</header>