<form (ngSubmit)="submit()" #monForm="ngForm">
  <label>nom : </label><input name="nom" [(ngModel)]="nom" #nomChamp="ngModel"><br>
  <label>reference : </label><input name="reference" [(ngModel)]="reference" #referenceChamp="ngModel"><br>
  <label>Marque : </label><input name="marque" [(ngModel)]="marque" #marqueChamp="ngModel"><br>
  <label>Discipline : </label><input name="discipline" [(ngModel)]="discipline" #disciplineChamp="ngModel"><br>
  <button type="submit">Rechercher</button>
</form>
<p *ngIf="!nomChamp == null">Au moins 1 champs de recherche !</p>
<div *ngFor="let prod of produits">
  <p>RECHERCHE : </p>
  <p>{{prod.nom}}</p>
  <p>{{prod.reference}}</p>
  <p>{{prod.marque}}</p>
  <p>{{prod.discipline}}</p>
  <p>{{prod.caracteristiques.longueur}} cm</p>
  <p>{{prod.caracteristiques.largeur}} cm</p>
  <p>{{prod.caracteristiques.poids}} grammes</p>
</div>
