<div>
    <h1>Ajouter un produit</h1>
    <form (ngSubmit)="submit()" #ProduitForm ="ngForm">
      <!--Référence-->
      <label for="reference">Référence :</label>
      <input [(ngModel)]="monForm.reference"  name="reference" class="form-control">
      <!--Nom-->
      <label for="nom">Nom :</label>
      <input [(ngModel)]="monForm.nom" name="nom" class="form-control">
      <!--Prix-->
      <label for="prix">Prix</label>
      <input [(ngModel)]="monForm.prix" name="prix" class="form-control">
      <!--Photos-->
      <label for="photos">Photos :</label>
      <input [(ngModel)]="monForm.photos"  name="photos" class="form-control">
      <!--Quantité-->
      <label for="quantite">Quantité :</label>
      <input [(ngModel)]="monForm.quantite" name="quantite" class="form-control">
      <!--Caractéristiques-->
      <label for="caracteristiques">Caractéristiques :</label>


          <label for="longueur">Longueur :</label>
          <input [(ngModel)]="monForm.longueur" name="longueur" class="form-control">
      
          <label for="largeur">Largeur :</label>
          <input [(ngModel)]="monForm.largeur" name="largeur" class="form-control">
    
          <label for="poids">Poids :</label>
          <input [(ngModel)]="monForm.poids" name="poids" class="form-control">

          <label for="empatement">Empatement :</label>
          
          
          <input [(ngModel)]="monForm.empatement" name="empatement" class="form-control">
      
          <label for="largeur-roues">Largeur des roues :</label>
          <input [(ngModel)]="monForm.largeurRoues" name="largeur-roues" class="form-control">
      <!--Marque-->
      <label for="marque">Marque :</label>
      <select class="form-control">
        <option *ngFor="let key of keysMarque" [value]="key" [label]="monForm.marque[key]"></option>
      </select>
  

      <!--Discipline-->
      <label for="discipline">Discipline :</label>
      <select class="form-control">
        <option *ngFor="let key of keysDiscipline" [value]="key" [label]="monForm.disciplines[key]"></option>
      </select>

      <label for="flex">Flex :</label>
      <input [(ngModel)]="monForm.flex"  name="flex" class="form-control">

          <label for="description">Description</label>
        <textarea type="text" id="description" class="md-textarea md-textarea-auto form-control" name="description" mdbInputDirective></textarea>


        <button type="submit">Créer</button>
    </form>
  </div>
